.root {
    margin: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.heading {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.main {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 5rem;
}

.item {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 12%);
    border-radius: 5px;
}
