.root {
    padding: 2rem;
}

.overviewCards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.title {
    font-weight: 600;
    margin-bottom: 500;
}

.compareRevenue {
    padding: 2rem;
    margin-top: 5rem;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, calc(90% / 2));
    gap: 2rem;
    max-width: 100vw;
}
