.root {
    margin: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.heading {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.main {
    margin-top: 5rem;
}

.statisticList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-gap: 2rem;
}

.statisticListItem {
    padding: 1.5rem;
    border: 2px solid var(--blue);
    border-radius: 5px;
    font-size: 1.5rem;
}

.statisticListItem span {
    color: red;
    font-weight: bold;
}
